.resumes{
    background:linear-gradient(to right,#F1E37C, #D7DEE6);
    height: 100vh;
}
.Text1{
    position: absolute;
    font-size: 7vh;
    color: #0B2D36;
    top: calc(7vh + 3px);
    left: 15vw;
}
.resumes-div{
    position: absolute;
    background:linear-gradient(to left,#F1E37C, #D7DEE6);
    max-height: 75vh;
    width: 80vw;
    top: 15vh;
    margin: 0 10vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;
    border: 10px solid #0B2D36;
}
.resumes-div::-webkit-scrollbar{
    display: none;
}
.resume-image{
    overflow: hidden;
    z-index: 1;
    margin: 20px 2vw;
    /* width: 36vw; */
    height: 70vh;
    cursor: pointer;
}
.resumes-img{
    z-index: 2;
    height: 15vh;
    position: relative;
    top: 6vh;
    left: 25vw;
}
@media only screen and (max-width: 600px) {
    .Text1{
        font-size: 5vh;
        top: calc(9vh + 4px);
    }
  }
@media only screen and (max-width: 435px) {
    .Text1{
        font-size: 3vh;
        top: calc(11vh + 7px);
    }
    .resumes-img{
        z-index: 2;
        height: 12vh;
        position: relative;
        top: 8vh;
        left: 25vmin;
    }
  }  

  @media only screen and (max-width: 550px) and (max-height:1200px) {
    .resumes-div{
        max-height: 75vh;
        width: 80vw;
        top: 15vh;
        margin: 0 7.5vw;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 15px 0;
    }
    .resume-image{
        z-index: 1;
        width: 75vw;
        height: 80vh;
    }
  }      