.startingPage {
    background: linear-gradient(to left, #F1E37C, #D7DEE6);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.chooseResume-img {
    width: 40vw;
    height: 40vw;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

.chooseBtn {
    position: relative;
    left: -50px;
    background-color: none;
    color: #0B2D36;
    font-size: 2.5vh;
    cursor: pointer;
    padding: 25px 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));

}

.chooseBtn:hover {
    transition: 2s;
    background: linear-gradient(to right, #F1E37C, #D7DEE6);
}

.btn-span {
    position: relative;
    top: -50px;
}

.welcome-img {
    position: relative;
    height: 10vh;
    bottom: 32px;
    left: 23vh;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.logOutBtn {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: none;
    color: #0B2D36;
    font-size: 2.5vh;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 500;
    border: none;
    width: 150px;
    border-radius: 5px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

.logOutBtn:hover {
    background: linear-gradient(to left, #F1E37C, #D7DEE6);
    transition: 2s;
    color: #0B2D36;
}

/* /////////////// */
@media only screen and (min-width: 1625px) {
    .welcome-img {
        position: relative;
        height: 10vh;
        bottom: -15px;
        left: 0px;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        z-index: 1;
    }

    .btn-span {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1625px) {
    .btn-span {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left: 10vmin;
    }
    .chooseResume-img {
        width: 50vw;
        height: 50vw;
    }
    .welcome-img {
        position: relative;
        height: 10vmin;
        bottom: -9px;
        left: 0px;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        z-index: 1;
    }
    .chooseBtn {
        width: 30vmin;
        font-size: 2vmin;
    }
}
@media only screen and (max-width: 900px) {
    .chooseResume-img {
        width: 50vw;
        height: 50vw;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    }
    .chooseBtn {
        width: 30vw;
        font-size: 2vmin;
    }
    .welcome-img {
        position: relative;
        height: 10vmin;
        bottom: -9px;
        left: 0px;
    }
    .btn-span{
        margin-left: 10vmin;
    }
}

@media only screen and (max-width: 600px) {
    .chooseResume-img {
        width: 50vw;
        height: 50vw;
    }
    .chooseBtn {
        width: 30vmin;
        font-size: 2vmin;
    }
    .welcome-img {
        position: relative;
        height: 10vmin;
        bottom: -9px;
        left: 0px;
    }
    .logOutBtn {
        font-size: 2vmin;
        padding: 10px 15px;
        width: 20vmin;
    }
    .btn-span{
        margin-left: 10vmin;
    }
}

@media only screen and (max-width: 500px) {
    .startingPage {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */
        justify-content: center;
        align-items: center;
    }
    .chooseResume-img {
        width: 70vw;
        height: 50vw;
    }
    .btn-span{
        margin-left: 60vmin;
        margin-top: -5vmin;
    }
    .welcome-img {
        position: relative;
        height: 10vmin;
        bottom: -6px;
        left: 0vmin;
    }
    .chooseBtn {
        width: 35vmin;
        font-size: 2.5vmin;
    }
}